extends layout

include mixins/anchorButton

block content
  main.flex.flex-col.gap-6
    section
      h1.mb-4.text-2xl.font-bold Product: #{ product.name }
      if product.desc
        p= product.desc

      section.mt-4
        p
          span.font-bold Price:&nbsp;
          | £#{ (product.price / 100).toFixed(2) }
        p
          span.font-bold Stock:&nbsp;
          | #{ product.stock }

      section.mt-4.grid.max-w-56.grid-cols-2.gap-2
        +anchorButton('Delete', `${product.url}/delete`)
        +anchorButton('Edit', `${product.url}/edit`, 'blue')

    if category
      hr
      section
        h2.mb-4.text-xl.font-bold Category
        a(href=category.url)= category.name

    if subcategory
      hr
      section
        h2.mb-4.text-xl.font-bold Subcategory
        a(href=subcategory.url)= subcategory.name
