mixin formField(labelText, inputType, inputName, object, error)
  label.font-semibold(for=inputName)
    | #{ labelText }
    if attributes.required
      span.font-medium.text-zinc-500(aria-hidden='true') &nbsp;(required)
    if inputType === 'select'
      select(name=inputName, id=inputName, required!=attributes.required)
        if block
          block
        else
          option(value='') Default
    else if inputType === 'textarea'
      textarea.resize-none.appearance-none(
        name=inputName,
        id=inputName,
        rows='5',
        required!=attributes.required,
        minlength!=attributes.minlength
      )!= attributes.value || (object && object[inputName])
    else
      input.appearance-none(
        type=inputType,
        name=inputName,
        id=inputName,
        required!=attributes.required,
        value!=attributes.value || (object && object[inputName]),
        minlength!=attributes.minlength,
        min!=attributes.min,
        step!=attributes.step
      )
    if error
      span.text-red-500= error.msg
